# Python virtual environment
venv/
env/
ENV/
.venv/
.pyenv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# SQLite database (optional, if you generate .db files)
*.db

# Environment config
.env
*.env

# Log files
*.log

# Buildozer build artifacts
.buildozer/
bin/
*.apk

# macOS & Linux system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# PyInstaller
*.spec
dist/
build/

# Pycharm
.idea/

# Packaging
.eggs/
*.egg-info/
*.egg
